{% extends 'base.html' %}

{% load static %}

{% block title %}
	Epic Rajasthan Tours | About Us
{% endblock %}

{% block specificcss %}
	<link href="{% static 'css/magnific-popup.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

	{{ block.super }}

	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{% static 'img/aboutus3.jpg' %}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<h1>About Us</h1>
				<p>WANDERLUST? Explore With Us</p>
			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHeader ============================================ -->

	<section class="wrapper">
		<div class="divider_border"></div>

		<div class="container">
			<div class="main_title">
				<h2>Epic <span>Rajasthan</span> Tours info</h2>
				<p>Have a best and safe journey with us</p>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<h3>OUR TRAVEL AGENCY</h3>
					<p>
						Our customer is our primacy with the zeal of providing them perfect journey ahead. By exploring few cities of India majorly Rajasthan, Agra, Varanasi, Khujraho, Delhi, Rishikesh at present.
					</p>
					<p>
						The travel agency will procure the needs of the customers as per their pre-requisites. Get our customers economical deals and tours with all the services on time and manageable.
					</p>
					<h4>MISSION</h4>
					<p>
						Our ambition to commence and augment the services promptly all around India. By providing our customers, the comfort and services they desire. Whilst providing solutions on demand quries with advance technology and widen customer support services.
					</p>
				</div>
				<div class="col-sm-6">
					<p class="advertise"><img src="{% static 'img/about_logo.png' %}" width="200" height="200" alt="Discover Rajasthan Logo" class="img-responsive">
					</p>
				</div>
			</div>
			<!-- End row -->
			<hr>

			<div class="main_title_2">
				<h3>Customer <span>Support</span></h3>
				<p>It's All About YOU</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="box_features">
						<i class="icon_set_1_icon-89"></i>
						<h4>Great support</h4>
						<p>Our customer service support staff is effortlessly available 24x7. You can reach out to us whenever you feel like we are here for you at your finger tips.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="box_features">
						<i class="icon_set_1_icon-61"></i>
						<h4>What we speak</h4>
						<p>Our guiders are proficient in speaking <strong>Hindi, English, Marwari</strong> through which we can serve better in communication and comfort.</p>
					</div>
				</div>
			</div>
			<!-- End row -->
			<div class="row">
				<div class="col-sm-6">
					<div class="box_features">
						<i class="icon_set_1_icon-13"></i>
						<h4>We take care of everyone</h4>
						<p>
							Your journey will be memorable through security and reliability with us. We make you feel like we all are a family by making you feel like home. 
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="box_features">
						<i class="icon_set_1_icon-63"></i>
						<h4>Available on mobiles and tablets</h4>
						<p>
							As far as we can reach out to you through varied ways at ease. Whenever and wherever you want us, we are there only for YOU. 
						</p>
					</div>
				</div>
			</div>
			<!-- End row -->

			<hr>

			<div class="main_title_2">
				<h3>Our <span>team</span> and guides</h3>
				<p>Proffer you experience guiders</p>
			</div>

			<!--Team Carousel -->
			<div class="owl-carousel team-carousel add_bottom_30">

				{% for member in teams %}
					<div class="team-item">
						<div class="team-item-img">
							<img src="{{ member.image.url }}" style="height: 400px;" alt="Discover Rajasthan Tour Guider">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>{{ member.name }}</h4>
									<p>Contact Me: <a href="tel://00{{ member.mobile }}">+91 {{ member.mobile }}</a></p>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4>{{ member.name }}</h4>
							<p><i>{{ member.position }}</i></p>
						</div>
					</div>
				{% endfor %}

			</div>
			<!--End Team Carousel-->
		</div>
		<!-- End container -->
	</section>
	<!-- End section -->

	<br>
	
{% endblock %}

{% block footer %}

	{{ block.super }}

{% endblock %}

{% block specificscripts %}

	<!-- SPECIFIC SCRIPTS -->
	<script>
		'use strict';
		$(".team-carousel").owlCarousel({
			items: 1,
			loop: true,
			margin: 10,
			autoplay: false,
			smartSpeed: 300,
			responsiveClass: false,
			responsive: {
				320: {
					items: 1,
				},
				768: {
					items: 2,
				},
				1000: {
					items: 3,
				}
			}
		});
	</script>

{% endblock %}