{% extends 'base.html' %}

{% load static %}

{% block title %}
	Discover Rajasthan | About Us
{% endblock %}

{% block specificcss %}
	<link href="{% static 'css/magnific-popup.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

	{{ block.super }}

	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{% static 'img/aboutus.jpg' %}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<h1>About Us</h1>
				<p>"Want to know more about us"</p>
			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHeader ============================================ -->

	<section class="wrapper">
		<div class="divider_border"></div>

		<div class="container">
			<div class="main_title">
				<h2>Discover <span>Rajasthan</span> info</h2>
				<p>We provide best tourism services</p>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<h3>Our Travel Agency</h3>
					<p>We provide our customers the best comfort with the perfect journey of the tour. Currently we provide our services to varied places like- (<strong>Rajasthan, Agra, Varanasi, Khujraho, Delhi, Rishikesh</strong>).</p>
					<h4>Mission</h4>
					<p>We also tends to bring our facilities to the our cities of <strong>India</strong> very soon. We always want our customers to feel satisfied with our services.</p>
				</div>
				<div class="col-sm-6">
					<p class="advertise"><img src="{% static 'img/dc_logo.png' %}" width="200" height="200" alt="Discover Rajasthan Logo" class="img-responsive">
					</p>
				</div>
			</div>
			<!-- End row -->
			<hr>

			<div class="main_title_2">
				<h3>Customer <span>Support</span></h3>
				<p>We thrive to provide our best to our clients</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="box_features">
						<i class="icon_set_1_icon-89"></i>
						<h4>Great support</h4>
						<p>We always provide our customers the best and feasible amount for their journey with us.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="box_features">
						<i class="icon_set_1_icon-61"></i>
						<h4>What we speak</h4>
						<p>Our guiders are proficient in speaking <strong>Hindi, English, Marwari</strong>. So that we can serve better through communication.</p>
					</div>
				</div>
			</div>
			<!-- End row -->
			<div class="row">
				<div class="col-sm-6">
					<div class="box_features">
						<i class="icon_set_1_icon-13"></i>
						<h4>We take care of everyone</h4>
						<p>At your journey with us, we always take care of your security first and ofcousre the comfort level of the customers. We make you feel like we all are a family.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="box_features">
						<i class="icon_set_1_icon-63"></i>
						<h4>Available on mobiles and tablets</h4>
						<p>Our customer service support staff is readily available 24x7. Customers can reach out to us we are here for you at your finger tips.</p>
					</div>
				</div>
			</div>
			<!-- End row -->

			<hr>

			<div class="main_title_2">
				<h3>Our <span>team</span> and guides</h3>
				<p>We have the most experienced guiders</p>
			</div>

			<!--Team Carousel -->
			<div class="owl-carousel team-carousel add_bottom_30">

				{% for member in teams %}
					<div class="team-item">
						<div class="team-item-img">
							<img src="{{ member.image.url }}" width="458" height="540" alt="Discover Rajasthan Tour Guider">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>{{ member.name }}</h4>
									<p>Contact Me: <a href="tel://00{{ member.mobile }}">+91 {{ member.mobile }}</a></p>
								</div>
							</div>
						</div>
						<div class="team-item-info">
							<h4>{{ member.name }}</h4>
							<p><i>{{ member.position }}</i></p>
						</div>
					</div>
				{% endfor %}

			</div>
			<!--End Team Carousel-->
		</div>
		<!-- End container -->
	</section>
	<!-- End section -->

	<br>
	
	<div id="toTop"></div>
	<!-- Back to top button -->

	{% include 'search.html' %}

	{% include 'footer.html' %}

{% endblock %}

{% block specificscripts %}

	<!-- SPECIFIC SCRIPTS -->
	<script>
		'use strict';
		$(".team-carousel").owlCarousel({
			items: 1,
			loop: true,
			margin: 10,
			autoplay: false,
			smartSpeed: 300,
			responsiveClass: false,
			responsive: {
				320: {
					items: 1,
				},
				768: {
					items: 2,
				},
				1000: {
					items: 3,
				}
			}
		});
	</script>

{% endblock %}