{% extends 'base.html' %}

{% load static %}

{% block title %}

	Epic Rajasthan Tours | All Tours | Filtered Tours

{% endblock %}

{% block content %}

	{{block.super}}

	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{% static 'img/tours_banner.jpg' %}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<h1>Tours</h1>
				<p>"Find your appropriate Tour with us"</p>
			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHeader ============================================ -->


	<section class="wrapper">
		<div class="divider_border_gray"></div>

		<form action="{% url 'packages:filter_tours' %}" method="GET">
			<div class="row">
				<div class="col-md-2 col">
					<div id="filters" class="clearfix">
						<select name="price" class="form-control">
							<option value=""> Select Price </option>
							<option value="5000,10000">5000 - 10000</option>
							<option value="11000,30000">11000 - 30000</option>
							<option value="31000,50000">31000 - 50000</option>
							<option value="51000,2147483647">51000 - Unlimited</option>
						</select>
					</div>
				</div>
				<div class="col-md-2 col">
					<div id="filters" class="clearfix">
						<input type="text" class="form-control" placeholder="Location" name="location">
					</div>
				</div>
				<div class="col-md-2 col">
					<div id="filters" class="clearfix">
						<select name="theme" class="form-control" style="width: 140px;">
							<option value=""> Select Theme </option>
							{% for category in categories %}
							<option value="{{category.title}}">{{category.title}}</option>
							{% endfor %}

						</select>
					</div>
				</div>
				<div class="col-md-2 col">
					<div id="filters" class="clearfix">
						<input type="submit" class="btn btn-primary" value="search">
					</div>
				</div>
			</div>
		</form>

		<div class="container">
			<div class="row">
				{% if tours_count == 0 %}

					<div class="alert alert-danger">No {{ package_name }} Tours Available Yet!</div>
				
				{% else %}

					{% for tour in tours %}

					<div class="col-md-4 col-sm-6 wow fadeIn animated" data-wow-delay="0.2s">
						<div class="img_wrapper">
							<div class="ribbon">
								<span>Popular</span>
							</div>
							<div class="price_grid">
								<sup><i class="icon-rupee"></i></sup>
								{{tour.tourdetail.price}}
							</div>
							<div class="img_container">
								<a href="{% url 'packages:tour' tour.category.slug tour.slug %}">
									<img src="{{ tour.image.url }}" style="width: 800px; height: 240px;" class="img-responsive" alt="{{tour.title}}">
									<div class="short_info">
										<h3>{{tour.title}}</h3>
										<p>
											{{tour.description}}
										</p>
									</div>
								</a>
							</div>
						</div>
						<!-- End img_wrapper -->
					</div>
					<!-- End col -->
					{% endfor %}
				{% endif %}
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</section>
	<!-- End section -->


	<div class="container margin_60"></div>


{% endblock %}


{% block footer %}

	{{ block.super }}

{% endblock %}


{% block specificscripts %}

	<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'js/jquery.selectbox-0.2.js' %}"></script>
	<script>
		$(".selectbox").selectbox();
	</script>

{% endblock %}