{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta tags -->
	{% include 'meta.html' %}
	<!-- Title -->
	<title>{% block title %}{% endblock%}</title>
	<!-- Favicons-->
	<!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"> -->
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Satisfy" rel="stylesheet">
	<!-- BASE CSS -->
	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/menu.css' %}" rel="stylesheet">
	<link href="{% static 'css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">
	<!-- SPECIFIC CSS -->
	{% block specificcss %}{% endblock %}
	<!-- CUSTOM CSS -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body>

	{% block content %}

		<div id="preloader">
			<div data-loader="circle-side"></div>
		</div>

		<!-- Header -->
		{% include 'header.html' %}
		<!-- End Header -->
	
	{% endblock %}

	{% block footer %}
	
		{% include 'footer.html' %}

		<div id="toTop"></div>
		<!-- Back to top button -->

		{% include 'search.html' %}

	{% endblock %}

	<!-- COMMON SCRIPTS -->
	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/common_scripts_min.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
	
	{% block specificscripts %}{% endblock %}
</body>
</html>