<div class="row">
   <div class="col-sm-4">
      <div class="box_how">
         <div class="icon_how"><span class="icon_set_1_icon-81"></span>
         </div>
         <h4><b>BEST PRICE GUARANTEE</b></h4>
         <p>
            Feed Your Wanderlust Economically
         </p>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="box_how">
         <div class="icon_how"><span class="icon_set_1_icon-94"></span>
         </div>
         <h4><b>PROFESSIONAL LOCAL GUIDES</b></h4>
         <p>
            Explore Your Tour With Our Profound Guides
         </p>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="box_how">
         <div class="icon_how"><span class="icon_set_1_icon-92"></span>
         </div>
         <h4><b>CERTIFICATE OF EXCELLENCE</b></h4>
         <p>
            Years Of Excellence With Proficient Employees
         </p>
      </div>
   </div>
</div>
<!-- End Row -->