<div class="row">
   <div class="col-sm-4">
      <div class="box_how">
         <div class="icon_how"><span class="icon_set_1_icon-81"></span>
         </div>
         <h4>Best price guarantee</h4>
         <p>Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae forensibus qui. Duo aliquip necessitatibus ne.</p>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="box_how">
         <div class="icon_how"><span class="icon_set_1_icon-94"></span>
         </div>
         <h4>Professional local guides</h4>
         <p>Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae forensibus qui. Duo aliquip necessitatibus ne.</p>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="box_how">
         <div class="icon_how"><span class="icon_set_1_icon-92"></span>
         </div>
         <h4>Certifcate of Excellence</h4>
         <p>Lorem ipsum dolor sit amet, et cum civibus referrentur, at propriae forensibus qui. Duo aliquip necessitatibus ne.</p>
      </div>
   </div>
</div>
<!-- End Row -->