<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-3">
            <h3>Need help?</h3>
            <a href="tel://008851548286" id="phone">+91 8851548286</a>
            <a href="mailto:business@epicrajasthantours.com" id="email_footer">business@epicrajasthantours.com</a>
         </div>
         <div class="col-md-2 col-sm-3">
            <h3>About</h3>
            <ul>
               <li><a href="{% url 'pages:about' %}">About us</a>
               </li>
               <li><a href="{% url 'pages:faq' %}">FAQ</a>
               </li>
               <li><a href="{% url 'pages:terms_and_conditions' %}">Terms and condition</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- End row -->
      <hr>
      <div class="row">
         <div class="col-sm-8">
            <span id="copy">© EpicRajasthanTours 2020 - All rights reserved</span>
         </div>
         <div class="col-sm-4" id="social_footer">
            <ul>
               <li><a href="https://www.facebook.com/discoverrajasthanwithdharmender/"><i class="icon-facebook"></i></a>
               </li>
               <li><a href="https://www.instagram.com/discoverrajasthanwithdarmender/?hl=en"><i class="icon-instagram"></i></a>
               </li>
               <li><a href="https://api.whatsapp.com/send?phone=918851548286&text=Hello Anshu Shokeen! I want to know about tours and guides."><i class="icon-chat"></i></a>
               </li>
            </ul>
         </div>
      </div>
      <!-- End row -->
   </div>
   <!-- End container -->
</footer>
<!-- End footer -->