{% extends 'base.html' %}

{% load static %}

{% block title %}

	Epic Rajasthan Tours | Gallery

{% endblock %}

{% block specificcss %}

	<link href="{% static 'css/magnific-popup.min.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}

	{{ block.super }}

	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{% static '/img/gallery_banner.jpg' %}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<h1>Epic Rajasthan Tours Gallery</h1>

			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHead -->


<section class="wrapper">
		<div class="divider_border"></div>

		<div class="container">
			<div class="main_title">
				<h2><span>Discover Rajasthan</span> moments</h2>
			</div>

			<div class="row magnific-gallery">
				{% for image in gallery %}
				<div class="col-sm-4">
					<div class="img_wrapper">
						<div class="img_container">
							<a href="{{image.image.url}}" title="Photo title">
								<img src="{{image.image.url}}" style= "height: 240px; width: 100%;" class="img-responsive" alt="{{image.image.url}}">
							</a>
						</div>
					</div>
					<!-- End img_wrapper -->
				</div>
				{% endfor %}
			</div>
			<!-- End row -->
			<hr class="add_bottom_30">
		</div>
		<!-- End container -->
	</section>
	<!-- End section -->

	<div class="container margin_60"></div>
	<!-- end container -->

{% endblock %}


{% block footer %}

	{{ block.super }}

{% endblock %}

