<div id="header_1" class="layer_slider">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-right: 0;">
                    <div id="logo_home">
                        <h1><a href="/" title="City tours travel template">Discover Rajasthan</a></h1>
                    </div>
                </div>
                <!-- Navbar -->
                {% include 'navbar.html' %}
                <!-- End Navbar -->
            </div>
        </div>
    </header>
</div>