<div id="header_1" class="layer_slider">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-8" style="padding-right: 0;">
                    <div id="logo_home">
                        <h1><a href="/" title="Epic Rajasthan Tours Logo">Epic Rajasthan Tours</a></h1>
                    </div>
                </div>
                <!-- Navbar -->
                {% include 'navbar.html' %}
                <!-- End Navbar -->
            </div>
        </div>
    </header>
</div>