{% extends 'base.html' %}

{% load static %}

{% block title %}
	Epic Rajasthan Tours | Home
{% endblock %}

{% block specificcss %}
	<link href="{% static 'css/layerslider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

	<style>
		.layer-is-visible {
			visibility: hidden;
		}
	</style>

	<div class="layer"></div>

	{{ block.super }}

	<!-- Slider -->
	{% include 'slider.html' %}
	<!-- End Slider -->

	<section class="wrapper">
		<div class="divider_border"></div>
		<div class="container">

			<div class="main_title">
				<h2>Our <span>Top</span> packages</h2>
				<p>Choose the package of your interest</p>
			</div>
			
			{% include 'category.html' %}

		</div>
	</section>
	<!-- End section -->

	<section class="container margin_60">
		<div class="main_title">
			<h3>Why choose us</h3>
			<p>
				Don't listen to us, Experience it!
			</p>
		</div>
		
		{% include 'choose_us.html' %}

	</section>
	<!-- End Container -->

	<section class="promo_full">
		<div class="promo_full_wp">
			<div>
				<h3>What Our Clients Says<span>Bring Fun In Your Trip With Us</span></h3>
				
				{% include 'testimonials.html' %}

			</div>
			<!-- End promo_full_wp -->
		</div>
		<!-- End promo_full -->
	</section>
	<!-- End section -->
	
{% endblock %}

{% block footer %}

	{{ block.super }}

{% endblock %}


{% block specificscripts %}
	<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'js/greensock.js' %}"></script>
	<script src="{% static 'js/layerslider.transitions.js' %}"></script>
	<script src="{% static 'js/layerslider.kreaturamedia.jquery.js' %}"></script>
	<script>
		'use strict';
		$('#layerslider').layerSlider({
			autoStart: true,
			navButtons: false,
			navStartStop: false,
			showCircleTimer: false,
			responsive: true,
			responsiveUnder: 1080,
			layersContainer: 1200,
			skinsPath: '/static/css/'
		});
	</script>
{% endblock %}