{% load static %}
<nav class="col-md-9 col-xs-4">
   <ul id="tools_top">
      <li><a href="#" class="search-overlay-menu-btn"><i class="icon-search-6"></i></a>
      </li>
   </ul>
   <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
   <div class="main-menu">
      <div id="header_menu">
         <img src="{% static 'img/logo.jpeg' %}" width="200" height="100" alt="Epic Rajasthan Tours" data-retina="true">
      </div>
      <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
      <ul>
         <li class="submenu">
            <a href="{% url 'pages:home' %}" class="show-submenu">Home</a>
         </li>
         <li class="submenu">
            <a href="{% url 'pages:tours' %}" class="show-submenu">Tours</a>
         </li>
         <li>
            <a href="{% url 'pages:about' %}">About us</a>
         </li>
         <li class="submenu">
            <a href="javascript:void(0);" class="show-submenu">Other pages</a>
            <ul>
               <li><a href="{% url 'pages:gallery' %}">Gallery</a>
               </li>
               <li><a href="{% url 'pages:team_profile' %}">Team Profile</a>
               </li>
            </ul>
         </li>
         <li>
            <a href="{% url 'pages:contact' %}">Contact us</a>
         </li>
         <li><a href="{% url 'pages:faq' %}">FAQ</a></li>
      </ul>
   </div>
   <!-- End main-menu -->
</nav>