{% extends 'base.html' %}

{% load static %}

{% block desc %}

	<meta name="description" content="{{ tour_detail.description }}">
	<meta name="keywords" content="{{ tour_detail.keywords }}">

{% endblock %}

{% block title %}
	Epic Rajasthan Tours | {{ tour.title }} Tour
{% endblock %}

{% block specificcss %}

    <link href="{% static 'css/date_time_picker.css' %}" rel="stylesheet">
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    {{ block.super }}

	{% if tour_detail %}
	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{{ tour.image.url }}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<h1>{{ tour.title }} Tour</h1>
				<small style="color: whitesmoke;">Home > Packages > {{ package_title|title }} > {{ tour.title }}</small>
			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHeader ============================================ -->

	<section class="wrapper">
		<div class="divider_border"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-8">

					<!-- Tour carousel -->
					{% include 'tour_detail_carousel.html' %}
					<!--// End Tour carousel -->

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab_1" data-toggle="tab">Overview</a>
						</li>
						<li><a href="#tab_2" data-toggle="tab">Reviews</a>
						</li>
					</ul>

					<!-- Tour detail tab 1 -->
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab_1">
							<!-- Tour information -->
							{% include 'tour_detail_information.html' %}
							<!--// End tour information -->
							<hr>
							<!-- Tour Highlights -->
							{% include 'tour_detail_highlights.html' %}
							<!-- // End Tour Highlights -->
							<hr>
							<!-- Inclusions -->
							{% include 'tour_detail_inclusions.html' %}
							<!--// End Inclusions -->
							<hr>
							<!-- Exclusions -->
							{% include 'tour_detail_exclusions.html' %}
							<!--// End Exclusions -->
							<hr>
							<!-- Tour Itinerary -->
							{% include 'tour_detail_itinerary.html' %}
							<!--// End Tour Itinerary -->
						</div>
						<!--// End tab 1 -->

						<!-- Tour detail tab 2 -->
						<div class="tab-pane fade" id="tab_2">

							{% include 'tour_reviews.html' %}
							
							<hr>

							{% include 'write_review.html' %}

						</div>
						<!--// End tab 2 -->
					</div>
					<!-- End tabs -->
				</div>
				<!-- End Col -->

				<aside class="col-md-4">

					{% include 'tour_detail_price.html' %}

					<div class="box_style_2">
						<h3>Book This Tour<span style="color: #1bbb54;">24x7 service - Confirmed Immediately</span></h3>
						{% include 'book_now_form.html' %}
						<hr>
						<a href="{% url 'pages:contact' %}" class="btn_outline">Customize & Get Quotes</a>
						<a href="tel://008851548286" id="phone_2"><i class="icon_set_1_icon-91"></i>+91 8851548286</a>
					</div>
				</aside>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
</section>
    <!-- End section -->
    
	<div class="container margin_30">
		<h3 class="second_title">Related tours</h3>

		{% include 'related_tours.html' %}

	</div>
	<!-- End container -->
	{% else %}
	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{{ tour_image_url }}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<h1>No Detail Available Yet!</h1>
				<small style="color: whitesmoke;">Sorry please come back later</small>
			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHeader ============================================ -->
	{% endif %}

{% endblock %}

{% block footer %}

    {{ block.super }}

{% endblock %}

{% block specificscripts %}

	<!-- SPECIFIC SCRIPTS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script>
		$('#date_pick').datepicker();
    </script>
	<script src="{% static 'js/sidebar_carousel_detail_page_func.js' %}"></script>

{% endblock %}