<div class="row list_tours">
   <div class="col-sm-6">
      <h3>New Tours</h3>
      <ul>
         <li>
            <div>
               <a href="detail-page.html">
                  <figure><img src="img/thumb_tabs_1.jpg" alt="thumb" class="img-rounded" width="60" height="60">
                  </figure>
                  <h4>Adipisci voluptatum ea</h4>
                  <small>Duration 1hr 20 minutes</small>
                  <span class="price_list">$23</span>
               </a>
            </div>
         </li>
         <li>
            <div>
               <a href="detail-page.html">
                  <figure><img src="img/thumb_tabs_2.jpg" alt="thumb" class="img-rounded" width="60" height="60">
                  </figure>
                  <h4>Splendide suscipiantur</h4>
                  <small>Duration 1hr 20 minutes</small>
                  <span class="price_list">$23</span>
               </a>
            </div>
         </li>
         <li>
            <div>
               <a href="detail-page.html">
                  <figure><img src="img/thumb_tabs_3.jpg" alt="thumb" class="img-rounded" width="60" height="60">
                  </figure>
                  <h4>Vide omnium perpetua</h4>
                  <small>Duration 1hr 20 minutes</small>
                  <span class="price_list">$23</span>
               </a>
            </div>
         </li>
      </ul>
   </div>
   <div class="col-sm-6">
      <h3>Special offers</h3>
      <ul>
         <li>
            <div>
               <a href="detail-page.html">
                  <figure><img src="img/thumb_tabs_4.jpg" alt="thumb" class="img-rounded" width="60" height="60">
                  </figure>
                  <h4>Quo quidam vidisse</h4>
                  <small>Duration 1hr 20 minutes</small>
                  <span class="price_list"><em>$23</em>$19</span>
               </a>
            </div>
         </li>
         <li>
            <div>
               <a href="detail-page.html">
                  <figure><img src="img/thumb_tabs_5.jpg" alt="thumb" class="img-rounded" width="60" height="60">
                  </figure>
                  <h4>Integre alterum</h4>
                  <small>Duration 1hr 20 minutes</small>
                  <span class="price_list"><em>$23</em>$19</span>
               </a>
            </div>
         </li>
         <li>
            <div>
               <a href="detail-page.html">
                  <figure><img src="img/thumb_tabs_6.jpg" alt="thumb" class="img-rounded" width="60" height="60">
                  </figure>
                  <h4>Tation mollis appetere</h4>
                  <small>Duration 1hr 20 minutes</small>
                  <span class="price_list"><em>$23</em>$19</span>
               </a>
            </div>
         </li>
      </ul>
   </div>
</div>
<!-- End popular tours -->