{% extends 'base.html' %}

{% load static %}

{% block title %}

	Discover Rajasthan | Team Profile

{% endblock %}

{% block content %}

	{{ block.super }}

	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{% static 'img/team_profile_banner.jpg' %}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<p class="text-center"><img src="{% static 'img/guider1.jpeg' %}" alt="Anshu Shokeen Tour Advisor and Administrator" class="img-circle profile">
				</p>
				<h1>Anshu Shokeen</h1>
				<p>"The Tour Advisor"</p>
			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHeader ============================================ -->

	<section class="wrapper">
		<div class="divider_border"></div>

		<div class="container">

			<div class="main_title">
				<h2>"<span>Love</span> travel and discover"</h2>
			</div>

			<div id="bg_profile">
				<div class="row">
					<div class="col-sm-8">
						<div class="indent_title_in">
							<i class="icon_document_alt"></i>
							<h3>Profile</h3>
						</div>
						<div class="wrapper_indent">
							<p>Lorem ipsum dolor sit amet, dicta oportere ad est, ea eos partem neglegentur theophrastus. Esse voluptatum duo ne, expetenda corrumpit no per, at mei nobis lucilius. No eos semper aperiri neglegentur, vis noluisse quaestio no. Vix an nostro inimicus, qui ut animal fabellas reprehendunt. In quando repudiare intellegebat sed, nam suas dicta melius ea.</p>
							<p>Mei ut decore accusam consequat, alii dignissim no usu. Phaedrum intellegat sit ut, no pri mutat eirmod. In eum iriure perpetua adolescens, pri dicunt prodesset et. Vis dicta postulant ad.</p>
						</div>
						<!-- end wrapper_indent -->
					</div>
					<!--end col -->
					<div class="col-sm-4">
						<p class="text-center"><img src="{% static 'img/guider1.jpeg' %}" style="width: 185px; height: 185px;" alt="" class="img-circle profile_2">
						</p>
						<ul class="social_profile">
							<li><a href="#"><i class="icon-facebook"></i></a>
							</li>
							<li><a href="#"><i class="icon-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End bg_profile -->
		</div>
		<!-- End container -->
	</section>
	<!-- End section -->

	<div class="container margin_60"></div>
	<!-- end container -->

{% endblock %}


{% block footer %}

	{{ block.super }}

{% endblock %}