{% extends 'base.html' %}

{% load static %}

{% block title %}

	Epic Rajasthan Tours | All Tours | Searched tours

{% endblock %}

{% block content %}

	{{block.super}}

	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{% static 'img/searched_tour_banner.jpg' %}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<h1>Available Tours</h1>
				<p>search results for "{{ q }}"</p>
			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHeader ============================================ -->


	<section class="wrapper">
		<div class="divider_border_gray"></div>
		<div class="container">

			{% if tours %}
				{% for tour in tours %}
				<div class="row strip_list wow fadeIn animated" data-wow-delay="0.2s">
					<div class="col-md-5">
						<div class="img_wrapper">
							<div class="ribbon">
								<span>Popular</span>
							</div>
							<div class="price_grid">
								<sup><i class="icon-rupee"></i></sup>{{ tour.tourdetail.price }}
							</div>
							<div class="img_container">
								<a href="{% url 'packages:tour' tour.category.slug tour.slug %}">
									<img src="{{ tour.image.url }}" width="800" height="533" class="img-responsive" alt="">
									<div class="short_info">
										<em>{{ tour.title }}</em>
									</div>
								</a>
							</div>
						</div>
						<!-- End img_wrapper -->
					</div>
					<div class="col-md-7">
						<h3>{{ tour.title }}</h3>
						<p>{{ tour.tourdetail.description }}</p>
						<p><a href="{% url 'packages:tour' tour.category.slug tour.slug %}" class="btn_1">Read more</a>
						</p>
					</div>
				</div>
				<!-- End strip list -->
				{% endfor %}
				<!-- End row -->
			{% else %}
				<div class="alert alert-danger">No Tours Available Yet!</div>
			{% endif %}
		</div>
		<!-- End container -->
		</section>
	<!-- End section -->


	<div class="container margin_60"></div>


{% endblock %}


{% block footer %}

	{{ block.super }}

{% endblock %}


{% block specificscripts %}

	<!-- SPECIFIC SCRIPTS -->
	<script src="js/jquery.selectbox-0.2.js"></script>
	<script>
		$(".selectbox").selectbox();
	</script>

{% endblock %}

