{% extends 'base.html' %}

{% load static %}

{% block title %}

	Epic Rajasthan Tours | Terms And Conditions

{% endblock %}

{% block content %}

	{{ block.super }}

	<!-- SubHeader =============================================== -->
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{% static 'img/terms-and-conditions-banner.jpg' %}" data-natural-width="1400" data-natural-height="470">
		<div id="sub_content_in">
			<div id="animate_intro">
				<h1>Terms and Conditions</h1>
				<p>"Epic Rajasthan Tours"</p>
			</div>
		</div>
	</section>
	<!-- End section -->
	<!-- End SubHeader ============================================ -->

	<section class="wrapper">
		<div class="divider_border"></div>

		<div class="container">

			<div class="main_title">
				<h2><span>TERMS</span> & CONDITIONS</h2>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h2>The Booking:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        Your contract is with Epic Rajasthan Tours and Travels. A contract exists between us when we have confirmed you on our tour of your choice and we have received your signed booking form and deposits. All the relevant section must be correctly and fully completed. We can only accept booking form signed as this confirms that you and other people on the tour accept our booking terms and condition and are entering into the contract.                        
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Deposit:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        Upon completion of the signed booking form a deposit of 50% of the tour cost per person, be paid to the company.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Payments:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        For the services contracted, 30% advance payment should be made to hold the booking on a confirmed basis and the balance amount can be paid at least 7 days prior to your date of departure from your country. We hold the right to decide upon the amount to be paid as an advance payment, based on the nature of services and the time left for the commencement of the services. Apart from the above in some cases like special train journeys, hotel or resort bookings during the peak season (X-Mas, New Year) 70% payment is required to be sent in advance.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Cancellations:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        If you or any member of your party wishes to cancel your holiday, you must notify us in writing, in any case the date of cancellation will be at the date on which notice is received by Epic Rajasthan Tours and Travels. As this incurs administrative cost and retention charges by hotel, the cancellation charges will apply on the following scale:
                    </p>
                </div>

                <div class="col-md-12">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Number of days before departure</th>
                            <th scope="col">Amount of Cancellation charges</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>More than 28 Days</th>
                            <td>Deposit only</td>
                          </tr>
                          <tr>
                            <th>27-14 Days</th>
                            <td>50% of the Tour Cost</td>
                          </tr>                          <tr>
                            <th>13-07 Days</th>
                            <td>75% of the Tour Cost</td>
                          </tr>                          
                          <tr>
                            <th>06 Days or less</th>
                            <td>100% of the Tour Cost</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

                <div class="col-md-12">
                    <h2>Liability:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        The company does not own or control hotels, coach or other facilities mentioned in the tour. As an operator of the package tour therefore, we cannot be held liable.
                    </p>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>Where there has been no fault on the part of the company, supplier or agents.</li>
                        <li>Where the failures in performance of the contract are attributable to the customer.</li>
                        <li>Where the failures are attributable to a third party not connected with the provision of the holiday and is unforeseeable or unavoidable.</li>
                        <li>Where the failures are due to unusual and unforeseeable circumstances beyond your control.</li>
                        <li>Where the failures are due to an event which you or your supplier even with all due care could not foresee or foretell.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        We do take all reasonable steps in ensuring that the organization maintains standards and provide a service that is acceptable to the passengers. The information within this website has been compiled with all reasonable care and is correct to the best knowledge of the company and is published in good faith.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Complaints:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        We do our best to give passengers travelling on any of our holidays, an enjoyable and trouble free vacation but occasionally plans go wrong. Should you have any complaint, please inform your tour manager (at the same time), who will do everything possible to resolve the matter immediately. If the situation is not resolved to your satisfaction, then you must notify the company within 28 days of the tour ending in writing. If you do not write to us within this time, this will affect the investigation and outcome of the complaint. Any disputes between clients and Epic Rajasthan Tours and Travels Shall be governed by Jurisdiction on India.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Passports & Visas:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        To travel to India from overseas countries except for the citizen of Nepal & Bhutan, one needs a 06 months’ valid passport and a valid Visa. And processing of Passport and Visa are not included in the tour cost.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Early Check-in / Late Check -out:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        Please note that standard check-in / Checkout time in most hotels is 1200 Hrs. (IST). Therefore, cost of early check-in or Late check-out is not included in the tour cost. We can always make a request for early check-in or late checkout if required but we do not guarantee that, that entirely depend upon the policy of the hotel, time of the year and availability of the room.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Extra Uses of our Vehicle:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        Please note that cost of the vehicle (car / coaches with the driver) does not include extra usage of vehicle like after transfer or after sightseeing until or unless it is mentioned in the itinerary.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Rights to amend the itinerary if required:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        Tour once commenced will strictly go as per the itinerary finalized. In case of events and circumstances beyond our control, we reserve the right to change all or parts of the contents of the itinerary for safety and wellbeing of our esteemed passengers.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Surcharge:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        The Price of your travel arrangement is subject to surcharges in case of sudden hike in fuel prices, schedule airfare and any taxes levied by the government. Even in this case, we will try to absorb an amount of 2%, amount exceeding over 2% will be surcharged.
                    </p>
                </div>

                <div class="col-md-12">
                    <h2>Our Liability:</h2>
                </div>
                <div class="col-md-12">
                    <p style="text-align: justify;">
                        Epic Rajasthan Tours and Travels accepts the liability for those arrangements for your holiday, which are wholly within our control and therefore, accept liability to clients for the negligence of our employees. However, we would like to draw attention to the following circumstances, which fall outside our direct control or where for some reason we are not prepared to accept liability.
                        The Company shall, in no circumstances whatsoever be liable to the client or any person travelling with him or her for: Any death, personal injury, sickness accidents, loss delay, discomfort, increased expenses, consequential loss and / or damage or theft howsoever caused;
                        Any act, omission, default of any independent contractor or other person or by any servant or agents employed by them who may be engaged or concerned in the provision of accommodation, refreshment, carriage facility or service for the client or for any person travelling with him howsoever caused. Epic Rajasthan Tours and Travels are unable to take liability for commercial arrangements out of our control such as natural disasters, industrial disputes, reason of threat or war, riots, civil strife, terrorist activities, technical problems to the transport, extreme weather conditions, closure of the airports and sea ports and similar event out of our control, or are due to unusual and unforeseeable circumstances beyond our control.
                    </p>
                </div>
            </div>
		</div>
		<!-- End container -->
	</section>
	<!-- End section -->

	<div class="container margin_60"></div>
	<!-- end container -->

{% endblock %}


{% block footer %}

	{{ block.super }}

{% endblock %}