<div class="container">
   <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <div class="carousel_testimonials">
            {% for client in testimonials %}
            {% if client.approved == True %}
            <div>
               <div class="box_overlay">
                  <div class="pic">
                     <figure>
                        <img src="{{ client.image.url }}" alt="{{ client.name }}">
                     </figure>
                     <h4>{{ client.name }}<small>{{ client.created_at|date:"j M Y" }}</small></h4>
                  </div>
                  <div class="comment">
                     "{{ client.review }}."
                  </div>
               </div>
               <!-- End box_overlay -->
            </div>
            {% endif %}
            {% endfor %}
         </div>
         <!-- End carousel_testimonials -->
      </div>
      <!-- End col-md-8 -->
   </div>
   <!-- End row -->
</div>
<!-- End container -->