<div class="tour_detail_price_box">
    <div class="row">
        <div class="col-md-12">
            <h5 style="font-size: 12px; margin: 0;">Hotel included in package:</h5>
            <i class="icon-star" style="font-size: 12px; color: #3379b7;">3 Star</i>
            <i class="icon-star" style="font-size: 12px; color: #3379b7;">2 Star</i>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 tour_detail_highlight_icons">
            {% if tour_detail.flight_included == True %}
                <i class="icon-flight tour_detail_highlight_icon_bold" title="Flight"></i>
            {% else %}
                <i class="icon-flight tour_detail_highlight_icon_unbold" title="Flight"></i>
            {% endif %}

            {% if tour_detail.cab_included == True %}
                <i class="icon_set_1_icon-21 tour_detail_highlight_icon_bold" title="Private Cab"></i>
            {% else %}
                <i class="icon_set_1_icon-21 tour_detail_highlight_icon_unbold" title="Private Cab"></i>
            {% endif %}

            {% if tour_detail.breakfast_included == True %}
                <i class="icon_set_1_icon-14 tour_detail_highlight_icon_bold" title="Breakfast"></i>
            {% else %}
                <i class="icon_set_1_icon-14 tour_detail_highlight_icon_unbold" title="Breakfast"></i>
            {% endif %}

            {% if tour_detail.hotel_included == True %}
                <i class="icon_set_1_icon-6 tour_detail_highlight_icon_bold" title="Hotel"></i>
            {% else %}
                <i class="icon_set_1_icon-6 tour_detail_highlight_icon_unbold" title="Hotel"></i>
            {% endif %}

            {% if tour_detail.sightseeing_included == True %}
                <i class="tour_detail_highlight_icon_bold" title="Sightseeing"><img src="https://img.icons8.com/ios/30/000000/binoculars.png"/></i>
            {% else %}
                <i class="tour_detail_highlight_icon_unbold" title="Sightseeing"><img src="https://img.icons8.com/ios/30/000000/binoculars.png"/></i>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6>Starting from:</h6>
        </div>
        <div class="col-md-12" style="font-size: 20px;">
            <strong style="margin-left: -7px; color: #398e34;"><i class="icon-rupee" style="margin-right: -8px; font-size: 21px;"></i>{{tour.price}}/-</strong>
        </div>
        <div class="col-md-12">
            <p style="color: black; font-size: 10px;">Per Person on twin sharing</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6 style="margin-top: -8px;">Duration:</h6>
        </div>
        <div class="col-md-12">
            <strong style="margin-left: -1px; color: #215286;">{{ tour.tourdetail.num_of_days }} Days & {{ tour.tourdetail.num_of_nights }} Nights</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="text-align: center; color: #b11b1b; margin-top: 10px;">
            <small>*{{tour_detail.special_highlight|title}}*</small>
        </div>
    </div>
</div>
