<div class="row">
   <div class="col-md-4 col-sm-6 wow fadeIn animated" data-wow-delay="0.2s">
      <div class="img_wrapper">
         <div class="ribbon">
            <span>Popular</span>
         </div>
         <div class="price_grid">
            <sup>$</sup>23
         </div>
         <div class="img_container">
            <a href="detail-page.html">
               <img src="img/tour_list_1.jpg" width="800" height="533" class="img-responsive" alt="">
               <div class="short_info">
                  <h3>Discover Louvre</h3>
                  <em>Duration 45 mins</em>
                  <p>
                     A quam morbi ut arcu, eget neque molestie, ullamcorper congue pharetra, hendrerit odio consectetuer.
                  </p>
                  <div class="score_wp">
                     Superb
                     <div class="score">7.5</div>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <!-- End img_wrapper -->
   </div>
   <div class="col-md-4 col-sm-6 wow fadeIn animated" data-wow-delay="0.2s">
      <div class="img_wrapper">
         <div class="ribbon">
            <span>Popular</span>
         </div>
         <div class="price_grid">
            <sup>$</sup>19
         </div>
         <div class="img_container">
            <a href="detail-page.html">
               <img src="img/tour_list_2.jpg" width="800" height="533" class="img-responsive" alt="">
               <div class="short_info">
                  <h3>Michelangelo</h3>
                  <em> Duration 60 min</em>
                  <p>
                     A quam morbi ut arcu, eget neque molestie, ullamcorper congue pharetra, hendrerit odio consectetuer.
                  </p>
                  <div class="score_wp">
                     Superb
                     <div class="score">7.5</div>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <!-- End img_wrapper -->
   </div>
   <div class="col-md-4 col-sm-6 wow fadeIn animated" data-wow-delay="0.2s">
      <div class="img_wrapper">
         <div class="ribbon">
            <span>Popular</span>
         </div>
         <div class="price_grid">
            <sup>$</sup>32
         </div>
         <div class="img_container">
            <a href="detail-page.html">
               <img src="img/tour_list_5.jpg" width="800" height="533" class="img-responsive" alt="">
               <div class="short_info">
                  <h3>The Egypthians</h3>
                  <em>Duration 60 min</em>
                  <p>
                     A quam morbi ut arcu, eget neque molestie, ullamcorper congue pharetra, hendrerit odio consectetuer.
                  </p>
                  <div class="score_wp">
                     Superb
                     <div class="score">7.5</div>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <!-- End img_wrapper -->
   </div>
   <div class="col-md-4 col-sm-6 wow fadeIn animated" data-wow-delay="0.2s">
      <div class="img_wrapper">
         <div class="ribbon">
            <span>Popular</span>
         </div>
         <div class="price_grid">
            <sup>$</sup>20
         </div>
         <div class="img_container">
            <a href="detail-page.html">
               <img src="img/tour_list_6.jpg" width="800" height="533" class="img-responsive" alt="">
               <div class="short_info">
                  <h3>The Mongolians</h3>
                  <em>Duration 90 min</em>
                  <p>
                     A quam morbi ut arcu, eget neque molestie, ullamcorper congue pharetra, hendrerit odio consectetuer.
                  </p>
                  <div class="score_wp">
                     Superb
                     <div class="score">7.5</div>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <!-- End img_wrapper -->
   </div>
   <div class="col-md-4 col-sm-6 wow fadeIn animated" data-wow-delay="0.2s">
      <div class="img_wrapper">
         <div class="ribbon">
            <span>Popular</span>
         </div>
         <div class="price_grid">
            <sup>$</sup>22
         </div>
         <div class="img_container">
            <a href="detail-page.html">
               <img src="img/tour_list_7.jpg" width="800" height="533" class="img-responsive" alt="">
               <div class="short_info">
                  <h3>Mayas</h3>
                  <em>Duration 45 min</em>
                  <p>
                     A quam morbi ut arcu, eget neque molestie, ullamcorper congue pharetra, hendrerit odio consectetuer.
                  </p>
                  <div class="score_wp">
                     Superb
                     <div class="score">7.5</div>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <!-- End img_wrapper -->
   </div>
   <div class="col-md-4 col-sm-6 wow fadeIn animated" data-wow-delay="0.2s">
      <div class="img_wrapper">
         <div class="ribbon">
            <span>Popular</span>
         </div>
         <div class="price_grid">
            <sup>$</sup>42
         </div>
         <div class="img_container">
            <a href="detail-page.html">
               <img src="img/tour_list_9.jpg" width="800" height="533" class="img-responsive" alt="">
               <div class="short_info">
                  <h3>Modern Art</h3>
                  <em>Duration 45 min</em>
                  <p>
                     A quam morbi ut arcu, eget neque molestie, ullamcorper congue pharetra, hendrerit odio consectetuer.
                  </p>
                  <div class="score_wp">
                     Superb
                     <div class="score">7.5</div>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <!-- End img_wrapper -->
   </div>
</div>
<!-- End row -->