<div class="add-review">
    <h4>Write a Review</h4>
    <div>
        {% include 'messages.html' %}
        <form method="post" action="assets/review.php" id="review" autocomplete="off">
            <input type="hidden" id="tour_name_review" name="tour_name_review" value="General Louvre Tour">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name_review">Full Name *</label>
                    <input type="text" name="fullname" id="name_review" placeholder="Enter your full name" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="email_review">Email *</label>
                    <input type="email" name="email" id="email_review" placeholder="Enter your email id" class="form-control">
                </div>
                <div class="form-group col-md-12">
                    <label for="rating_review">Rating</label>
                    <select name="rating" id="rating_review" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="review_text">Your Review</label>
                    <textarea name="review" id="review_text" class="form-control" style="height:130px;"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" value="Submit" class="btn_1" id="submit-review">
                </div>
            </div>
        </form>
    </div>
</div>